{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenu dans ce blog </h1>

<article>
    <h2>{{ article.title }}</h2>
    <img src="{{ article.image }}" alt="" />
    <p>{{ article.content }}</p>

    <p>Ecrit le : {{ article.createdAt | date('d/m/Y') }} </p>


</article>


{% endblock %}